<form action="#" class="bg-white flex flex-col items-center justify-center h-full px-12 text-center">
  <h1 class="font-bold text-2xl mb-4">Iniciar sesión</h1>
  <input type="email" placeholder="Correo" class="bg-gray-200 p-3 w-full mb-2 rounded"/>
  <input type="password" placeholder="Contraseña" class="bg-gray-200 p-3 w-full mb-2 rounded"/>
  <a href="#" class="text-sm mb-4 text-gray-600 hover:underline">¿Olvido su contraseña?</a>
<button type="submit"
  class="bg-green-700 text-white font-bold uppercase rounded-full px-12 py-3 tracking-wider
         hover:bg-gradient-to-r hover:from-yellow-400 hover:via-yellow-300 hover:to-yellow-500
         hover:text-green-900 hover:shadow-lg hover:scale-105 transition-all duration-300"
>
  Entrar
</button>
</form>
