<div class="flex justify-center flex-col w-screen h-screen gradient-money">
  <div id="container" class="relative bg-white/90 rounded-lg shadow-lg overflow-hidden w-1/2 h-1/2 mx-auto" [class.right-panel-active]="rightPanelActive">
    <!-- Register Form -->
    <div class="form-container absolute top-0 h-full transition-all duration-600 ease-in-out left-0 w-1/2"
    [class.opacity-100]="rightPanelActive" [class.z-50]="rightPanelActive" [class.translate-x-0]="!rightPanelActive"
    [class.opacity-0]="!rightPanelActive" [class.z-10]="!rightPanelActive" [class.translate-x-full]="rightPanelActive"
    >
      <app-register/>
    </div>

    <!-- Login Form -->
    <div class="form-container absolute top-0 h-full transition-all duration-600 ease-in-out left-0 w-1/2"
    [class.opacity-0]="rightPanelActive" [class.z-10]="rightPanelActive" [class.translate-x-full]="rightPanelActive"
    [class.opacity-100]="!rightPanelActive" [class.z-50]="!rightPanelActive" [class.translate-x-0]="!rightPanelActive"
    >
      <app-login/>
    </div>

    <!-- Overlay -->
    <div class="overlay-container absolute top-0 left-1/2 w-1/2 h-full overflow-hidden transition-transform duration-600 ease-in-out z-100" [class.translate-x--full]="rightPanelActive" [class.translate-x-0]="!rightPanelActive" [class.translate-x--full]="rightPanelActive" [class.-translate-x-full]="rightPanelActive">
      <div class="overlay bg-gradient-to-r from-green-700 to-yellow-400 text-white relative left-[-100%] h-full w-[200%] transition-transform duration-600 ease-in-out"
        [ngClass]="{
          'translate-x-1/2': rightPanelActive,
          'translate-x-0': !rightPanelActive
        }">
        <div class="overlay-panel overlay-left absolute flex items-center flex-col justify-center px-10 text-center top-0 h-full w-1/2 left-0 transform translate-x-0 transition-transform duration-600 ease-in-out"
        [ngClass]="{
          '-translate-x-1/4': !rightPanelActive,
          'translate-x-0': rightPanelActive
        }">
          <h1 class="text-3xl font-bold mb-4">Bienvenido de nuevo!</h1>
          <p class="text-sm font-light mb-8"> Si posee una cuenta podra iniciar sesión</p>
          <button class="ghost bg-transparent border border-white text-white rounded-full px-12 py-3 uppercase font-bold tracking-widest hover:bg-white hover:text-green-700 transition-colors duration-300" (click)="togglePanel(false)">
            Iniciar Sesión
          </button>
        </div>

        <div class="overlay-panel overlay-right absolute flex items-center flex-col justify-center px-10 text-center top-0 h-full w-1/2 right-0 transform translate-x-0 transition-transform duration-600 ease-in-out"
        [ngClass]="{
          'translate-x-1/4': rightPanelActive,
          'translate-x-0': !rightPanelActive
          }">
          <h1 class="text-3xl font-bold mb-4">Bienvenido!</h1>
          <p class="text-sm font-light mb-8">Introduce tus datos personales y comienza tu viaje con nosotros</p>
          <button class="ghost bg-transparent border border-white text-white rounded-full px-12 py-3 uppercase font-bold tracking-widest hover:bg-white hover:text-green-700 transition-colors duration-300" (click)="togglePanel(true)">
            Crear cuenta
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

